<?xml version="1.0" encoding="UTF-8"?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- dao层 -->
<mapper namespace="com.demo.mapper.BillInfoDao">  
   <resultMap id="billInfoResultMap" type="com.demo.entity.BillInfo">  
        <id column="id" property="id" jdbcType="INTEGER" />  
        <result column="cid" property="cid" jdbcType="VARCHAR" />  
    </resultMap>
</mapper>
